<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!--redis配置-->
    <add key="RedisHosts" value="127.0.0.1:6379,allowadmin=true,password=zoulu19900206" />
    <add key="RedisKey" value="Lock:" />
  </appSettings>
</configuration>